
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}
.dark {
  --background: 15 23 42;
  --foreground: 241 245 249;
}
body { background-color: rgb(var(--background)); color: rgb(var(--foreground)); }
.container { max-width: 1100px; }
